html {
  background-color: #CDCDCD;
}
main {
  width: 50vw;
  max-width: 960px;
  margin: auto;
  background-color: black;
  color: white;
}
#inputSection {
  background-color: white;
  color: black;
}
