html {
  background-color: #CDCDCD;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
main {
  max-width: 960px;
  height: 100%;
  padding: 0px 10px 10px 10px;
  margin: auto;
  background-color: white;
  color: white;
}
#input-section {
  background-color: white;
  color: black;
  padding: 20px;
}
header {
  background-color: rgb(41, 41, 41);
  padding: 20px;
  border-radius: 0px 0px 30px 30px;
}
#output-section{
  background-color: rgb(41, 41, 41);
  padding: 20px;
  border-radius: 30px 30px 30px 30px;
}
footer {
  background-color: white;
  color: black;
  padding: 20px;
}
#chart-container {
  padding: 20px;
  border-radius: 30px 30px 30px 30px;
}
h1 {
  font-size: 3em;
  padding: 10px 0px 10px 0px;
}
h2 {
  font-size: 2em;
}
.footer-text {
  font-style: italic;
  font-size: 1.5em;
}
.subtitle {
  font-size: 1.5em;
}
.input-section-header-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
#input-section-title-text #sample-data-button-container {
  flex-basis: auto;
}
#input-section-title-text {
  font-size: 1.5em;
  font-style: italic;
  margin: 15px;
}
.user-buttons {
  background-color: grey;
  border-radius: 25px;
  padding: 15px 20px 15px 20px;
  margin: 0px 5px 0px 5px;
  color: #FFFFFF;
  font-size: 1.5em;
}
#input-section-data-selectors {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
}
.input-section-options-container-title {
  font-size: 1.5em;
}
